.body{
  background-color: #444444;
  color:white;
  font-size: 20px;
}

.serviceimg{
  display: flex;
}
h2{
  display: flex;
  justify-content: center;
}
.posserv{
  margin:10px;
}

.lista{
  margin:25px;
}
